:root {
--primary-default: #FE6E00;--primary-default-dark: #FD5602;--secondary-default: #463831;--heading-text-color: #210E00;--body-text-color: #656565;--secondary-text-color : #A4A4A4;--grey100: #eff4fd;--grey200:#ddd;--grey-light:#f2f2f2;--dashboard-bg:#FEF8F1;--border-color-default: #B9A2A2;

 --white:#fff;
--border-radius-0: 0px;
--ocean-color:#176CFF;
--classic-color:#212121;
--forest-color:#17705C;
--energetic-color:#EE6043;
--clean-color:#673657;
--safari-color:#D8AE5F;
--redcolor:red;
--border-radius-default:3px;
--font-family-default:'Lato', sans-serif;
--default-font-size: 16px;
--secondary-font-size:14px;
--font-weight300 :300;
--font-weight400 :400;
--font-weight500 :500;
--font-weight600 :600;
--font-weight700 :700;
--font-weight800 :800;
}