.auth-form-section {
  height: 100%;
  display: inline-block;
  width: 100%;
  .container {
    height: 100%;
    @media (max-width: 991px) and (orientation: landscape) {
      height: auto;
    }
  }
  .auth-form {
    padding: 10px 15px 0px 15px;
    text-align: center;
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: auto;
    min-height: 100%;
    flex-direction: column;
    .main-logo {
      max-height: 100px;
      margin-bottom: 30px;
      @media (max-width: 767px) {
        max-height: 75px;
        margin-bottom: 30px;
      }
      @media (min-width: 767px) and (max-width: 991px) and (orientation: landscape) {
        max-height: 75px;
        margin-bottom: 20px;
      }
      @media (max-width: 320px) {
        height: 60px;
        margin-bottom: 0;
      }
    }
    .auth-form-heading {
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 12px;
      @media only screen and (max-width: 1200px) {
        .auth-form-heading {
          font-size: 30px;
        }
      }
      @media (max-width: 767px) {
        font-size: 28px;
      }
    }
    .inputWithIcon {
      position: relative;
      padding: 0;
      .input-field-auth {
        width: 100%;
        border: 1px solid var(--secondary-default);
        height: 50px;
        padding-left: 15px;
        padding-right: 35px;
        background: transparent;
        border-radius: 4px;
        margin-top: 15px;
        &:focus-visible {
          outline: 0px;
        }
        &:focus {
          border: 1px solid var(--border-color-default);
        }
      }
    }
    .login-icon-wrapper {
      position: absolute;
      top: 29px;
      right: 15px;
      .login-icon-size {
        font-size: 20px;
        color: var(--secondary-default);
      }
    }
    .validation-text {
      text-align: left;
      color: var(--redcolor);
      font-size: 12px;
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: var(--ocean-color);
      &:hover {
        color: var(--secondary-default);
      }
    }
  }
  .login-footer {
    text-align: center;
    padding: 9px 20px;
    border-top: 1px solid var(--border-color-default);
    color: var(--heading-text-color);
    width: 100%;
    background-color: var(--white);
    position: fixed;
    bottom: 0;
    font-size: 14px;
    @media (max-width: 767px) {
      font-size: 11px;
      padding: 10px 15px;
    }
    @media (max-width: 991px) and (orientation: landscape) {
      position: relative;
      padding: 10px 15px;
    }
  }
}