<div class="auth-form-section">
  <div class="container">
    <div class="h-100">
      <div class="auth-form">
        <div class="text-center">
          <a class="" href="javascript:void(0)">
            <img
              src="../../../../../assets/images/low-code-logo.png"
              class="main-logo"
            />
          </a>
        </div>
        <div *ngIf="!submitStatus">
          <h2 class="auth-form-heading">Reset Password</h2>
          <p>Enter your new password, and confirm it to reset.</p>
          <form
            class="row w-100 m-0"
            [formGroup]="resetPasswordForm"
            (ngSubmit)="onSubmit()"
          >
            <!--[bopmtMatchPassword]="['password', 'confirmpassword']">-->
            <div class="inputWithIcon">
              <input
                type="password"
                placeholder="New Password"
                class="input-field-auth"
                formControlName="password"
                autocomplete="current-password"
              />
              <div class="login-icon-wrapper">
                <span class="icon icon-lock"></span>
              </div>
              <div
                [ngClass]="{
                  'validation-text':
                    isInvalidForm && formControls['password'].errors
                }"
                *ngIf="isInvalidForm && formControls?.['password']?.errors"
              >
                <div *ngIf="formControls?.['password']?.errors?.['required']">
                  Password is required
                </div>
                <div
                  *ngIf="formControls?.['password']?.errors?.['passwordStrength']"
                  class="password-error-message"
                >
                  Your password must contain atleast 1 uppercase letter, 1
                  lowercase letter , 1 number, 1 special character and have a
                  minimum of 8 characters.
                </div>
                <div *ngIf="formControls?.['password']?.errors?.['maxlength']">
                  Maximum length of password is 50
                </div>
                <div
                  *ngIf="formControls?.['password']?.errors?.['cannotContainSpace']"
                >
                  Cannot contain space in password
                </div>
              </div>
              <div class="invalid-feedback">
                <div>Password is required</div>
              </div>
            </div>
            <div class="inputWithIcon">
              <input
                type="password"
                placeholder="Confirm New Password"
                class="input-field-auth"
                formControlName="confirmpassword"
                autocomplete="current-password"
              />
              <div class="login-icon-wrapper">
                <span class="icon icon-lock"></span>
              </div>
              <div
                [ngClass]="{
                  'validation-text':
                    isInvalidForm && formControls['confirmpassword'].errors
                }"
                *ngIf="isInvalidForm && formControls?.['confirmpassword']?.errors"
              >
                <div
                  *ngIf="formControls?.['confirmpassword']?.errors?.['required']"
                >
                  Confirm password is required
                </div>
                <div
                  *ngIf="formControls?.['confirmpassword']?.errors?.['maxlength']"
                >
                  Maximum length of Confirm password is 50
                </div>
                <div
                  *ngIf="formControls?.['confirmpassword']?.errors?.['minlength']"
                >
                  Minimum length of Confirm password is 8
                </div>
                <div
                  *ngIf="formControls?.['confirmpassword']?.errors?.['passwordMismatch']"
                >
                  Confirm password does not match
                </div>
                <div
                  *ngIf="formControls?.['confirmpassword']?.errors?.['cannotContainSpace']"
                >
                  Cannot contain space in confirm password
                </div>
              </div>
            </div>
            <div
              class="position-relative p-0 reset-btn mt-4 d-flex justify-content-center"
            >
              <button
                type="submit"
                class="primary-button-default button-min-width mt-4"
                [disabled]="isLoading"
              >
                <span
                  *ngIf="isLoading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Reset Password
              </button>
            </div>
          </form>
        </div>
        <!-- on reset success -->
        <div class="check-mail" *ngIf="submitStatus">
          <h2 class="auth-form-heading">Password reset successful</h2>
          <p>
            Your password has been reset successfully. Please click on log in
            button below to go to log in page.
          </p>
          <form class="row w-100 m-0">
            <div class="position-relative p-0 d-flex justify-content-center">
              <button
                class="primary-button-default mt-4"
                (click)="redirectToLogin()"
              >
                <span></span>
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="login-footer">
    Copyright &copy; 2024 LowCode . All rights reserved.
  </div>
</div>
